# ============================================
# Python
# ============================================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# ============================================
# Virtual environments
# ============================================
.venv/

# ============================================
# Jupyter
# ============================================
.ipynb_checkpoints/

# ============================================
# VS Code
# ============================================
.vscode/

# ============================================
# TensorBoard / Training Logs
# ============================================
logs/
runs/

# ============================================
# HuggingFace cache
# ============================================
.cache/
huggingface/
hf_cache/

# Windows
Thumbs.db
Desktop.ini

# ============================================
# Training outputs
# ============================================
results/
checkpoints/
checkpoint-*/

# Trainer state
trainer_state.json
optimizer.pt
scheduler.pt
rng_state.pth
scaler.pt

# ============================================
# Models (large)
# ============================================

models/flan-t5-base-local
models/flan-t5-base-totto-lora-finetuned

# ============================================
# Datasets (large)
# ============================================

totto_data/totto_dev_data.jsonl
totto_data/totto_train_data.jsonl
totto_data/ft_predictions.jsonl
totto_data/unlabeled_totto_test_data.jsonl

# ============================================
# Temporary files
# ============================================
*.tmp
*.temp
*.log

# ============================================
# Python packaging
# ============================================
build/
dist/
*.egg-info/

# ============================================
# Environment variables
# ============================================
.env
.env.*

# ============================================
# OS
# ============================================
.DS_Store